<%
    @widget_title = image_tag(url_for_static(:plugin => 'ubuwidgets', :path => 'ubu_logo.png'))
%>
<div class="dashbox" style="width: 100%;">

    <div class="markdown" style="padding: 0px 10px 20px 10px;">
        <%= Api::Utils.markdown_to_html(widget_properties['Message']) -%>
    </div>

    <!-- <div class="page-footer" style="text-align: center; padding: 10px 15px 10px 15px;"> -->
    <div class="page-footer">
        <!-- <div style="text-align: left; width: 50%; float: left;"> -->
        <div style="padding: 0px 0px 5px 0px;">
            <p>
                Creado por <strong>Plamen Petyov Petkov</strong> - <a href='mailto:ppp0015@alu.ubu.es'>ppp0015@alu.ubu.es</a>
            </p>
            <p>
                Tutorizado por <strong>Carlos L&oacute;pez Nozal </strong> - <a href='mailto:clopezno@ubu.es'>clopezno@ubu.es</a>
            </p>
        </div>
        <!-- <div style="text-align: right; width: 50%; float: right;"> -->
        <div style="padding: 5px 0px 0px 0px;">
            <a rel='license' href='http://creativecommons.org/licenses/by/4.0/'>
                <img alt="Creative Commons License" style="border-width: 0;" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
            </a>
            <p>Copyright  <strong>&copy; LSI</strong>.</p>
        </div>
    </div>
</div>