<div class="dashbox">
    <p>
        <span class="big">
            SonarQube Core Metrics
        </span>
    </p>
    <h3>Example widget for SonarQune that shows some core metrics</h3>
</div>
<div class="dashbox">
    <table class="width100">
        <tbody>
            <tr>
                <td style="width=60%; vertical-align:top; padding:0 30px 0 0;">
        	        <h3>Metric name</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">Number of lines:</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">Number of methods:</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">Number of classes:</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">Complexity:</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width=40%; vertical-align:top">
                    <h3>Metric value</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">
                                        <%= format_measure('lines') %>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">
                                        <%= format_measure('functions') %>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">
                                        <%= format_measure('classes') %>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="vertical-align:middle">
                                        <%= format_measure('complexity') %>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>